OPENAI_API_KEY=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
ANTHROPIC_API_KEY=

# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=false

# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info
